/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.demo-1 .large-header {
	background-image: url('../../images/index/bg.jpg');
}

.main-title {

	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;

}
a{
	color: #fff;
	text-decoration:none;
	outline: none;
}
h1{
	width: 100%;
}
a:hover {color:  #D9D919;outline:0;}	/* 鼠标移动到链接上 */
a:active {color: #CD7F32;outline:0;}	/* 选定的链接 */
@media only screen and (max-width : 768px) {
	.demo-1 .main-title
	 {
		font-size: 3em;
	}


}
@media only screen and (max-width : 667px) {
	.demo-1 .main-title
	{
		font-size: 2em;
	}


}